body {
  margin: 0px;
  padding: 0px;
}
.title {
  background-color: black;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 4px;
}
.title img {
  margin-left: 50px;
  height: 60px;
}
.title h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
  border-left: 2px solid white;
  transition: 0.24s;
}
.title a {
  color: white;
  text-decoration: none;
}
.title h1:hover {
  text-decoration: underline;
}
/* dropdown */
.content {
  font-family: Montserrat;
  display: flex;
  padding: 40px;
  border-bottom: 1px solid black;
  margin: 0px 70px 0px 70px;
}
.current-viewing h1 {
  font-size: 20px;
  margin-right: 10px;
}
.dropdown label {
  font-weight: bold;
}
#country {
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: bold;
  padding: 11px 7px 11px 7px;
  margin-left: 15px;
}
#country > option {
  font-weight: bold;

  background-color: #e0e0e0c0;
}

/* first section */
.first-section {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  margin: 60px 70px 0px 70px;
  padding: 50px 0px 0px 0px;
}
.title-message h1 {
  font-size: 37px;
  margin: 0px;
}
.first-section p {
  margin: 30px 30px 0px 0px;
  font-size: 17px;
  font-weight: 700;
}
.first-section {
  margin-bottom: 110px;
}
.first-section a {
  text-decoration: none;
  color: red;
  transition: all 0.24s;
}
.first-section a:hover {
  text-decoration: underline;
}
/* Plans */
.plans-and-features {
  margin: 0px 70px 70px 70px;
}
.plans-and-features h1 {
  font-family: Montserrat;
  font-weight: 700;
}
.plan-container {
  margin: 0px 70px 120px 70px;
  font-family: Montserrat;
}
.plan li {
  list-style-type: none;
  font-size: 19px;
}
.plan ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.plan a {
  text-decoration: none;
  color: red;
  transition: 0.24s;
}
.plan a:hover {
  text-decoration: underline;
}
.plan-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.plan {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 3px solid black;
  padding: 30px;
  border-radius: 18px;
}
/* 
background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
*/
/* FOOTER */
footer {
  font-family: Montserrat;
  background: linear-gradient(
      10deg,
      rgba(229, 9, 20, 0) 58%,
      rgb(229, 9, 20) 128%
    ),
    #000;
  color: #e6e6e6;
  height: 370px;
}
.contact-us {
  border-bottom: 1px solid #b4b4b4;
  margin: 0px 50px 0px 50px;
}
.CU-container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px 50px 7px 0px;
  margin: 0px 0px 19px 0px;
}
.contact-us h1 {
  font-size: 23px;
  font-weight: 650;
  color: white;
}
.contact-us button {
  font-size: 19px;
  font-weight: bold;
  padding: 10px 33px 10px 33px;
  border: none;
  border-radius: 5px;
  transition: all 0.24s;
}
.contact-us button:hover {
  background-color: #a3a3a3;
}
.other-stuff ul {
  display: flex;
  flex-direction: column;
  padding: 10px 33px 10px 50px;
  margin-top: 36px;
  gap: 25px;
}

.other-stuff li {
  list-style-type: none;
}
.other-stuff a {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 460;
  transition: 0.24s;
}
.other-stuff a:hover {
  color: white;
  text-decoration: underline;
}

/* MQ FOR RESPONSIVE DESIGN */
@media (max-width: 1250px) {
  .plan-container {
    justify-content: space-between;
  }
  .plan {
    width: 100%;
  }
  .plans-and-features {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .plan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .plan {
    width: 70%;
  }
  .plans-and-features {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pricing-plan {
    margin-bottom: 100px;
  }
}
@media (max-width: 650px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plan-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .plan {
    width: 60%;
  }
  .plans-and-features {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pricing-plan {
    margin-bottom: 100px;
  }
  .options {
    top: 217px;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 595px) {
  .options {
    top: 215px;
  }
}
@media (max-width: 450px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .title img {
    margin-left: 0px;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plan-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .plan {
    width: 60%;
  }
  .plans-and-features {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CU-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer {
    height: 500px;
  }
  .pricing-plan {
    margin-bottom: 100px;
  }
  .options {
    top: 231px;
  }
}
@media (max-width: 330px) {
  .first-section {
    padding: 2px;
    margin: 20px 35px 20px 35px;
  }
  .title-message h1 {
    font-size: 28px;
  }
  .plans-and-features h1 {
    font-size: 25px;
  }
  .plan h1 {
    font-size: 30px;
  }
  .first-section p,
  a {
    text-align: start;
    font-size: 17px;
    font-weight: 550;
  }
  .pricing-plan {
    margin-bottom: 120px;
  }
}
