body {
  margin: 0px;
  padding: 0px;
  font-family: "Arial", sans-serif;
}
/* LOGO SECTION */
header {
  background-image: url(images/netflix-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
}
.logo-section {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40%;
}
.logo-section img {
  height: 100px;
}
.logo-section button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  width: 100px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.24s;
}
.logo-section button:hover {
  background-color: #df0202;
}
/*  */
.tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tags h1 {
  margin: 0px;
  font-size: 90px;
  color: white;
}
.tags h3 {
  margin: 0px;
  color: white;
  font-family: nanum gothic;
  font-size: 30px;
}
.tags button {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 23px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.24s;
}
.tags button:hover {
  background-color: #e00000;
}
/* ICONS */
.icons {
  padding: 50px;
  background-color: #222222;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.door {
  text-align: center;
}
.door i {
  color: #c2c2c2;
  font-size: 75px;
  cursor: pointer;
}
.door h1 {
  color: #c2c2c2;
  font-size: 20px;
}
/* PHONE */
.phone {
  text-align: center;
}
.phone i {
  color: #c2c2c2;
  font-size: 75px;
  cursor: pointer;
}
.phone h1 {
  color: #c2c2c2;
  font-size: 20px;
}
/* Tag */
.tag {
  text-align: center;
}
.tag i {
  color: #c2c2c2;
  font-size: 75px;
  cursor: pointer;
}
.tag h1 {
  color: #c2c2c2;
  font-size: 20px;
}
.door h1,
i {
  transition: all 0.24s;
}
.door:hover i {
  color: white;
}
.door:hover h1 {
  color: white;
}
.phone i,
h1 {
  transition: all 0.24s;
}
.phone:hover i,
.phone:hover h1 {
  color: white;
}
.tag i,
h1 {
  transition: all 0.24s;
}
.tag:hover i,
.tag:hover h1 {
  color: white;
}
/* REMINDER BEFORE FOOTER */
.reminder {
  padding: 150px;
  font-family: nanum gothic;
  background-color: black;
  color: white;
  display: flex;
}
.reminder h1 {
  margin: 0px;
}
.first-reminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.first-reminder h1 {
  margin: 0px;
  font-size: 40px;
}
.first-reminder button {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  transition: 0.24s;
  cursor: pointer;
}
.first-reminder button:hover {
  background-color: #d60000;
}

/* about */

.about {
  padding: 20px;
  background-color: black;
  color: #c2c2c2;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.about p {
  cursor: pointer;
}

/* MQ FOR RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .logo-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tags {
    text-align: center;
    flex-wrap: wrap;
  }
  .tags h1 {
    font-size: 70px;
  }
  .icons i {
    font-size: 60px;
  }
  .icons h1 {
    font-size: 17px;
  }
  .reminder {
    padding: 100px;
    gap: 40px;
  }
  .reminder img {
    height: 250px;
  }
  .reminder h1 {
    font-size: 30px;
  }
  .reminder button {
    font-size: 15px;
    padding: 10px;
  }
  .about {
    flex-wrap: wrap;
    padding: 30px;
  }
  .about p {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .reminder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .reminder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tags h1 {
    font-size: 40px;
  }
  .tags h3 {
    font-size: 20px;
  }
  .tags button {
    width: 60%;
    font-size: 15px;
  }
  .icons {
    gap: 40px;
  }
  .icons h1 {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tags h1 {
    font-size: 40px;
  }
  .tags h3 {
    font-size: 20px;
  }
  .tags button {
    width: 60%;
    font-size: 15px;
  }
  .icons {
    gap: 40px;
  }
  .icons h1 {
    font-size: 13px;
  }
}
@media (max-width: 390px) {
  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tags h1 {
    font-size: 40px;
  }
  .tags h3 {
    font-size: 20px;
  }
  .tags button {
    width: 60%;
    font-size: 15px;
  }
  .icons {
    gap: 40px;
  }
  .icons h1 {
    font-size: 13px;
  }
}
@media (max-width: 265px) {
  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tags h1 {
    font-size: 40px;
  }
  .tags h3 {
    font-size: 20px;
  }
  .tags button {
    width: 60%;
    font-size: 15px;
  }
  .icons {
    gap: 30px;
  }
  .icons i {
    font-size: 50px;
  }
  .icons h1 {
    font-size: 13px;
  }
}
